In [1]:
l = []

In [4]:
print(type(l))

<class 'list'>

In [7]:
for i in range

120

In [16]:
def fact(n):
    f=1
    while n > 1:
        f = f*n
        n -= 1
    return f

In [17]:
fact(4)

24

In [20]:
def fac(n):
    if n > 1: return n*fac(n-1)
    else: return 1

In [21]:
fac(5)

120

In [49]:

def fib(x):
    n=np.arange(x)
    for i in range(2,len(n)):
        n[i] = n[i-1]+ n[i-2]
    return n

In [48]:
fib(6)

array([0, 1, 1, 2, 3, 5])

In [70]:
def sq(x,b):
    for i in range(x):
        if (i==0 or i == x-1):
            print((b + " ")*x)
        else:
            print(b + " "*(2*x-3) + b)

In [117]:
sq(7,'o')

o o o o o o o
o           o
o           o
o           o
o           o
o           o
o o o o o o o

In [123]:
def tri(x,b):
    for i in range(1,x+1):
        print(" "*(x-i) + (b + " ")*i )

In [124]:
tri(6,'*')

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [121]:
def iso(x,b):
    for i in range(1,x+1):
        if (i==1 or i == x):
            print((b + " ")*i)
        else:
            print(b + " "*(2*i-3) + b)

In [122]:
iso(5,'*')

*
* *
*   *
*     *
* * * * *

In [13]:
def f(l):
    res = -1 
    len_half = int(len(l)/2)
    d = dict()
    for i in l:
        d[i] =  d.get(i,0) + 1
        print(d)
        if d[i] > len_half:
            res = i
            break
    return res

In [15]:
f([1,2,2,2,3])

{1: 1}
{1: 1, 2: 1}
{1: 1, 2: 2}
{1: 1, 2: 3}

2

In [39]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [41]:
dcom = dict()
dcom = {i: i*1 for i in a}

In [42]:
dcom

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [48]:
class Test:
    def __init__(self, name):
        self.cards = []
        self.name = name

    def __str__(self):
        return '{} holds ...'.format(self.name)
        
obj1 = Test('obj1')
print(obj1)

obj2 = Test('obj2')
print(obj2)

obj1 holds ...
obj2 holds ...

In [67]:
def multiplexers ():
    return [lambda n: index * n for index in range (5)]

print([m('a') for m in multiplexers ()])

['aaaa', 'aaaa', 'aaaa', 'aaaa', 'aaaa']

In [71]:
import this

In [76]:
a = list('abcd')
a

['a', 'b', 'c', 'd']

In [79]:
import pandas as pd
import numpy as np

In [91]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a','b','c'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
b    1.0
c    2.0
dtype: float64

In [92]:
s[0]

1.0

In [86]:
s[::-1]

c    2.0
b    1.0
a    0.0
d    NaN
c    2.0
b    1.0
dtype: float64

In [94]:
s = pd.Series([1,2,3,4],index=[101,102,103,104])
print(s)

101    1
102    2
103    3
104    4
dtype: int64

In [99]:
s[101]

1

In [102]:
def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print(df.pipe(adder,2))

       col1      col2      col3
0 -0.157258  1.363371 -0.149587
1 -0.085047 -1.172080 -0.398007
2 -0.764280 -0.014922  1.120529
3  0.264028  1.393582 -0.468956
4 -0.452710  0.813885 -0.058105
       col1      col2      col3
0  1.842742  3.363371  1.850413
1  1.914953  0.827920  1.601993
2  1.235720  1.985078  3.120529
3  2.264028  3.393582  1.531044
4  1.547290  2.813885  1.941895

In [108]:
list(np.random.choice(['Low','Medium','High'],20))#.tolist()

['Low',
 'High',
 'Medium',
 'Medium',
 'High',
 'High',
 'Medium',
 'Medium',
 'High',
 'Medium',
 'High',
 'High',
 'Medium',
 'Low',
 'Low',
 'Medium',
 'Medium',
 'High',
 'Low',
 'Medium']

In [115]:
np.random.normal(100, 10, 5)

array([ 89.40600764, 113.37312598,  96.18053658,  98.92795248,
       101.92823528])

In [121]:
N=5

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
#reindex the DataFrame
df_reindexed = df.reindex( columns=['A', 'C', 'B'])
df_reindexed

           A       C   B
0 2016-01-01  Medium NaN
1 2016-01-02    High NaN
2 2016-01-03     Low NaN
3 2016-01-04    High NaN
4 2016-01-05    High NaN

In [123]:
df.reindex_like(df1)

   col1  col2  col3
0   NaN   NaN   NaN
1   NaN   NaN   NaN
2   NaN   NaN   NaN
3   NaN   NaN   NaN
4   NaN   NaN   NaN
5   NaN   NaN   NaN
6   NaN   NaN   NaN
7   NaN   NaN   NaN
8   NaN   NaN   NaN
9   NaN   NaN   NaN

In [126]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print(df.loc[:,['D','C']])

          D         C
a  0.175731  1.070327
b  0.642878 -1.957550
c -0.788937  0.157103
d  1.359514 -1.054753
e  0.228383  2.215357
f -1.827718  0.390170
g -1.657395  1.269109
h  0.011373 -0.171217

In [130]:
df.loc[['a','b']]

          A         B         C         D
a -0.365012 -0.132419  1.070327  0.175731
b  1.867438 -0.701982 -1.957550  0.642878

In [135]:
df.iloc[[2,1],[3,2]]

          D         C
c -0.788937  0.157103
b  0.642878 -1.957550

In [149]:
df.drop('c',inplace=True)

In [150]:
df

          A         B         C         D
a -0.365012 -0.132419  1.070327  0.175731
b  1.867438 -0.701982 -1.957550  0.642878
d -0.258077  0.569180 -1.054753  1.359514
e  0.127866 -0.474155  2.215357  0.228383
f -0.248160 -0.983369  0.390170 -1.827718
g  0.218166 -1.322105  1.269109 -1.657395
h  0.802972  0.334820 -0.171217  0.011373

In [154]:
df = df.reindex(index = list('abcdefghij'))
df

          A         B         C         D
a -0.365012 -0.132419  1.070327  0.175731
b  1.867438 -0.701982 -1.957550  0.642878
c       NaN       NaN       NaN       NaN
d -0.258077  0.569180 -1.054753  1.359514
e  0.127866 -0.474155  2.215357  0.228383
f -0.248160 -0.983369  0.390170 -1.827718
g  0.218166 -1.322105  1.269109 -1.657395
h  0.802972  0.334820 -0.171217  0.011373
i       NaN       NaN       NaN       NaN
j       NaN       NaN       NaN       NaN

In [156]:
df.isnull()

       A      B      C      D
a  False  False  False  False
b  False  False  False  False
c   True   True   True   True
d  False  False  False  False
e  False  False  False  False
f  False  False  False  False
g  False  False  False  False
h  False  False  False  False
i   True   True   True   True
j   True   True   True   True

In [159]:
df['E'] = np.where(df['A'].isnull(),1,0)
df

          A         B         C         D  E
a -0.365012 -0.132419  1.070327  0.175731  0
b  1.867438 -0.701982 -1.957550  0.642878  0
c       NaN       NaN       NaN       NaN  1
d -0.258077  0.569180 -1.054753  1.359514  0
e  0.127866 -0.474155  2.215357  0.228383  0
f -0.248160 -0.983369  0.390170 -1.827718  0
g  0.218166 -1.322105  1.269109 -1.657395  0
h  0.802972  0.334820 -0.171217  0.011373  0
i       NaN       NaN       NaN       NaN  1
j       NaN       NaN       NaN       NaN  1

In [1]:
import cx_Oracle

ModuleNotFoundError: No module named 'cx_Oracle'

In [ ]:
!pip install cx_Oracle